* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
  }
}

h1 {
  font-size: 1.8em;
  color: #4b4b4b;
  margin: 0px !important;
}

h2 {
  font-size: 1.5em;
  color: #4b4b4b;
}

h3,
h4 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: normal;
}

h3 {
  font-size: 1em;
  color: #656565;
}

h4 {
  font-size: 0.8em;
}

h5 {
  font-family: "Karla", sans-serif;
  font-size: 1em;
  font-weight: normal;
}

h6 {
  font-family: "Karla", sans-serif;
  font-size: 0.9em;
  font-weight: bold;
}

p {
  font-family: "Book Antiqua", serif;
  font-size: 1.1em;
  color: #a2a2a2;
  line-height: 1.6em;
}

h1,
h2 {
  font-family: "Book Antiqua", serif;
  font-weight: bold;
}

a:link {
  text-decoration: none;
  color: #4b4b4b;
}

a:visited {
  text-decoration: none;
  color: #4b4b4b;
}

a:hover {
  text-decoration: none;
  color: #bbbbbb;
}

a:active {
  text-decoration: none;
  color: #4b4b4b;
}

.barra-superior {
  color: #4b4b4b;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  overflow-x: hidden;
  position: fixed;
  top: 0;
}

.izquierda {
  display: flex;
  align-items: flex-start;
  width: 30%;
  flex-direction: row;
  justify-content: center;
}

.nombre {
  display: flex;
  width: 26%;
  margin-left: 2%;
  align-self: center;
}

.titulo {
  display: flex;
  align-self: center;
  width: 74%;
  margin-left: 3%;
}

.derecha {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.busqueda {
  margin-left: 2%;
  margin-right: 5%;
  align-self: center;
}

.img {
  background-color: #4b4b4b;
}

.profile {
  align-self: center;
  margin-right: 2%;
}

.evless-container {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: calc(100% - 60px);
  margin-top: 60px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.columnleft {
  display: flex;
  justify-content: stretch;
  background-color: white;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 13%;
  position: relative;
  top: 60px;
  -webkit-box-shadow: 11px 0px 55px -52px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 0px 55px -52px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 0px 55px -52px rgba(0, 0, 0, 0.75);
  border-right: 0.5px solid #e1e1e1;
}

.button {
  text-align: center;
  width: 165px;
  height: 35px;
  color: #bbbbbb;
  background-color: #ffffff;
  margin-top: 14%;
  margin-left: 5%;
  font-family: "IBM Plex Mono";
  font-size: 0.8em;
  letter-spacing: 2px;
  border-radius: 4px;
  border: 1px solid #bbbbbb;
  text-decoration: none;
}

.button:link,
.button:visited {
  display: block;
  border: none;
  text-align: center;
  width: 175px;
  height: 35px;
  color: #ffffff;
  margin-top: 15px;
}

.button:hover,
.button:visited:hover {
  border: 2px solid #4b4b4b;
  font-weight: bold;
  color: #ffffff;
}

.button:active {
  color: #ffffff;
  text-decoration: none;
}

.sections {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  letter-spacing: 3px;
}

.sec {
  margin-top: 5%;
  margin-left: 6%;
}

.sec2 {
  margin-left: 10%;
  margin-top: 3%;
}

.tags {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  letter-spacing: 3px;
  font-family: "IBM Plex Mono", monospace;
}

.mails {
  display: flex;
  width: 37%;
  height: 100%;
  -webkit-box-shadow: 11px 0px 55px -52px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 0px 55px -52px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 0px 55px -52px rgba(0, 0, 0, 0.75);
  border-right: 0.5px solid #e1e1e1;
  overflow-x: hidden;
  overflow-y: auto;
}

.frstm {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4%;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.mtdt {
  display: flex;
  justify-content: space-between;
}

.sec3 {
  display: flex;
  align-items: flex-start;
  letter-spacing: 3px;
  margin-top: 1%;
}

.fecha {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: #e1e1e1;
}

.titt {
  margin-top: 2%;
}

.txtt {
  margin-top: 0.6%;
}

hr.rounded {
  margin-top: 2%;
  margin-bottom: 2%;
  border: none;
  border-top: 1px solid #e1e1e1;
}

.blog-container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding-top: 75px;
  padding-left: 75px;
  padding-right: 75px;
  overflow-x: hidden;
  overflow-y: auto;
}

.bloq {
  padding-top: 30px;
}

.pry {
  color: #ff8e8e;
}

.ftg {
  color: #97e9c1;
}

.vdo {
  color: #c7b7ff;
}

.nmd {
  color: #8ec7ff;
}

.txt {
  color: #ffbf8e;
}

.qte {
  color: #a2a2a2;
  padding-top: 25px;
  padding-left: 30%;
  text-align: right;
  font-family: "Book Antiqua", serif;
  font-style: italic;
  line-height: 1.4em;
}

.fech2 {
  color: #ababab;
}

.subtitt {
  padding-top: 8%;
  padding-bottom: 3%;
  text-align: left;
}

.red {
  color: #ff8e8e;
}

.green {
  color: green;
}

.tagmargin {
  margin-left: 10px;
}

.prueba {
  display: flex;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a2a2a2;
}

.open-mail {
  color: #656565;
  background-color: white;
  text-align: center;
  border: 1px solid #656565;
  margin-top: 10%;
  width: 160px;
  height: 24px;
  margin-left: 10px;
  display: block;
}

.popup {
  display: flex;
  position: fixed;
  flex-direction: column;
  background: white;
  width: 35%;
  height: 60%;
  border-radius: 10px;
  bottom: -10px;
  left: 57%;
  webkit-box-shadow: 11px 0px 55px -52px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 0px 55px -52px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
  visibility: hidden;
}

.container-mail {
  display: flex;
  position: fixed;
  flex-direction: column;
  background: white;
  visibility: hidden;
}

.container-mail:target {
  visibility: visible;
}

.container-mail:target .popup {
  visibility: visible;
}

.mail-header {
  background-color: #4b4b4b;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 2%;
  padding-top: 2%;
}

.trp {
  color: #ffffff;
  font-size: 1.3em;
  font-style: normal;
}

.spc {
  color: #a2a2a2;
  margin-left: 2%;
  letter-spacing: 3px;
}

.from {
  margin-top: 2%;
}

hr.rd3 {
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-left: 2%;
  width: 96%;
  align-items: center;
  border: none;
  border-top: 1px solid #e1e1e1;
}

.buttonsnd {
}

.nvr {
  display: flex;
  background-color: #4b4b4b;
  color: white;
  align-text: center;
  width: 75px;
  height: 30px;
  margin-top: 54%;
  margin-left: 2%;
  padding-top: 1%;
  padding-left: 1.3%;
  border-radius: 2px;
}

.bioytal {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin-top: 10%;
  margin-left: 25%;
  width: 60%;
  height: 90%;
  color: #656565;
}

.descrip {
  margin-top: 4%;
}

.links {
  margin-top: 4%;
}

.cerrar {
}
