/* Estilos predeterminados */
html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  overflow: hidden;
}

/* Tipografías y estilos de texto*/
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}

h3 {
	font-size: 1.0em;
}

h4 {
	font-size: 1.0em;
}

h5 {
  font-size: 0.8em;
  margin: 0px;
}

h1,
h2 {
	font-family: 'Fraunces', serif;
	font-weight: normal;
}

h3,
h4,
h5 {
  font-family: "IBM Plex Mono", "Courier New";
  font-weight: normal;
}

a {
  color: #ffffff;
  margin: 0px;
}

div {
  padding: 0.4em;
  border: 2px solid #ffffff;
  border-radius: 5px;
  width: 300px;
  margin: 20px auto;
}

#inicio {
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: linear-gradient(
    45deg,
    rgba(255, 142, 142, 1) 0%,
    rgba(244, 255, 188, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
}

.titulo {
	display: flex;
	margin: 0px;
}

.subtitulo {
	display: flex;
	margin: 0px;
}

.esconder {
  display: none;
}