<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bio</title>
	<link rel="stylesheet" href="../css/band-styles.css">
</head>
<body>
	<div class='menu-container'>
		<div class='menu'>
        	<div class='name'><h1><a href='../view/bandeja.html'>ferio dismo</a></h1></div>
        	<div class='titlex'><h1>Sobre mi</h1></div>
		</div>
      	<div class="rightlgn">
        	<div class='search'><h5>Búsqueda</h5></div>
        	<div class="img"></div>
        	<div class="profile"><h5>Jeanniffer Pimentel</h5></div>
		</div>
    </div>

	<div class="evless-container">
		<div class="columnleft">
			<a href="#modal" class="open-mail"><h3>ENVIAR MENSAJE</h3></a>
		<div class="sections">
			<div class="sec"><h3><a href="#">BIO</a></h3></div>
			<div class="sec"><h3>CV</h3></div>
			<div class="sec"><h3>DISEÑO</h3></div>
		</div>
    	<div class="tags">
			<div class="pry sec2"><h4>INSTAGRAM</h4></div>
			<div class="ftg sec2"><h4>TWITTER</h4></div>
			<div class="vdo sec2"><h4>YOUTUBE</h4></div>
			<div class="nmd sec2"><h4>GITHUB</h4></div>
			<div class="vdo sec2"><h4>LINKEDIN</h4></div>
	   	</div> 
	</div>
	<div class="bioytal">
		<div class="propic"></div>
		<div class="nombre"><h2>Jeanniffer Pimentel</h2></div>
		<div class="descrip"><p>Jeanniffer Pimentel (Paraguaná, Venezuela, 1994) Es diseñadora gráfica, artista y docente. Desde el 2012 ha creado, colaborado y trabajado en proyectos que involucran la creación, investigación y enseñanza de técnicas alternativas de diseño editorial, fotografía análoga experimental y nuevas tecnologías mediante el aprendizaje colectivo. Actualmente es profesora contratada en la Facultad Experimental de Arte de La Universidad del Zulia, trabaja de forma independiente como diseñadora gráfica UI y está en la búsqueda constante de crear espacios y obras que permitan hibridar disciplinas.</p></div>
		<div class="links"><h4>FULL CV | PORTAFOLIO DISEÑO </h4></div>
	</div>

</body>
</html>